
<ion-tabs class="tabs-icon-top tabs-calm">

  <!-- Dashboard Tab -->
  <ion-tab title="New / Open" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="In Process" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Resolved" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>